<div class="card rounded" style="width: 16rem; background-color: #2f3136;">
    <img class="card-img-top rounded"
        src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128`%>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-light"><%- guild.name %></h5>
    </div>
    <div class="card-footer">
        <a href="/manage/<%= `${guild.id}`%>" class="btn btn-outline-primary">Manage</a>
    </div>
</div>