<!DOCTYPE html>
<html>
<%- include('Components/Header', { title: '500 Internal Server Error' }) %>

<body style="background-color: #36393f;">

    <%- include('Components/Navbar', { user }) %>

    <img class="center rounded mx-auto d-block img-fluid" alt="500" style="text-align:center"
        src='https://asdqwe.net/wp-content/uploads/2016/05/500-Internal-Server-Error-PHP.jpg'>

    <div style="text-align: center;">
        <a class="btn btn-primary" href="/">Go back to Homepage</a>
    </div>


    <%- include('Components/Footer') %>
</body>

</html>