<!DOCTYPE html>
<html lang="en">
<%- include('Components/Header', { title: '403 - Forbidden'}) %>

<body class="theme-dark">
    <%- include('Components/Navbar', { user })%>
    <div class="jumbotron">
        <img class="center rounded-circle mx-auto d-block "
            style="text-align:center;max-width: 148px;height:148px" src='/public/img/logo.jpg'>
        <h1 class="text-center">403 - Forbidden</h1>
        <p class="text-center">
            Oh, oh... looks like you entered a forbidden airspace!
        </p>
        <div style="text-align:center">
            <a class="btn btn-primary rounded waves-effect" href="/">
                Go Back to Home page
            </a>
        </div>
    </div>
    <br><br><br><br>
    <%- include('Components/Footer') %>
</body>

</html>