<footer class="mt-5 bind-theme bind-theme-accent footer">
    <div class="row mt-3 mb-0 pb-0">
        <div class="col-auto mx-5 mt-3 mb-4 footer-copyright"> <br>
            <h6>Copyright &copy; 2020 <a href="#" class="text-primary">Unicron Ltd</a>. All rights reserved.</h6>
            <br>
        </div>
        <div class="col-auto mx-5 mt-3 mb-4">
            <h6>Links</h6>
            <ul class="footer-links text-primary">
                <li><a href="/discord" target="_blank">&CenterDot; Official Discord Server</a>
                </li>
                <li><a href="/privacy-policy">&CenterDot; Privacy Policy</a></li>
                <li><a href="/terms-of-service">&CenterDot; Terms of Service</a></li>
            </ul>
        </div>
    </div>
</footer>