<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Unicron - Discord Bot" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Unicron">
    <meta property="og:locale" content="en_US">
    <link rel="stylesheet" href="/public/css/fontawesome-min.css" />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/adminlte.min.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-4.min.css" />
    <link rel="stylesheet" href="/public/css/mdb.min.css" />
    <link rel="stylesheet" href="/public/css/animations-extended.min.css" />
    <link rel="stylesheet" href="/public/css/unicron.css" />
    <script href="/public/js/jquery.min.js"></script>
    <script href="/public/js/bootstrap.bundle.min.js"></script>
    <script href="/public/js/adminlte.min.js"></script>
    <script href="/public/js/mdb.min.js"></script>
    <script href="/public/js/sweetalert2.min.js"></script>
    <link rel="icon" href="/public/img/logo.jpg" class="rounded-circle"/>
    <title><%- title %></title>
</head>