<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Unicron - Discord Bot" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Unicron">
    <meta property="og:locale" content="en_US">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/materialize.min.css" />
    <link rel="stylesheet" href="/public/css/unicron.css" />
    <link rel="icon" href="/public/img/logo.jpg" class="rounded-circle"/>
    <script src="/public/js/sweetalert2.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/popper.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/materialize.min.js"></script>
    <title><%- title %></title>
</head>