<nav class="main-header navbar navbar-expand bind-navbar font-weight-bolder" style="margin-left: 0px;border-bottom-width: 0px;">
    <a class="navbar-brand">
        <img class="rounded-circle" style="margin-left: 1rem;max-height: 2.65rem;max-width: 2.65rem;"
            src='/public/img/logo.jpg' />
        <img class="rounded" style="max-height: 4rem;max-width: 9rem;"
            src="/public/img/text-logo.png" />
    </a>
    <ul class="navbar-nav float-right">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/commands" class="nav-link">Commands</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-left: 0;">
    </ul>
</nav>